.cards-illustrated-container {
  background-color: #f7f9fc;
  padding: 60px 24px 88px;
}

.cards-illustrated-container .default-content-wrapper {
  text-align: center;
  max-width: 1360px;
  margin: 0 auto 32px;
}

.cards-illustrated-container .default-content-wrapper h2 {
  font-size: 46px;
  font-weight: 900;
  color: #1c222e;
  margin: 0;
  line-height: 1.3;
}

.cards-illustrated-container .cards-illustrated-wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.cards-illustrated {
  padding: 0;
}

.cards-illustrated > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.cards-illustrated > ul > li {
  width: 100%;
  max-width: 316px;
}

.cards-illustrated .cards-illustrated-card-image {
  margin-bottom: 32px;
  border-radius: 10px;
  overflow: hidden;
}

/* stylelint-disable-next-line no-descending-specificity */
.cards-illustrated .cards-illustrated-card-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  display: block;
}

.cards-illustrated .cards-illustrated-card-body p:first-child {
  font-size: 20px;
  font-weight: 900;
  color: #1c222e;
  margin: 0 0 16px;
  line-height: 1.3;
}

.cards-illustrated .cards-illustrated-card-body p:first-child strong {
  font-weight: 900;
  color: #1c222e;
}

.cards-illustrated .cards-illustrated-card-body p:last-child {
  color: #1c222e;
  font-size: 16px;
  line-height: 1.375;
  margin: 0;
}

@media (width >= 900px) {
  .cards-illustrated-container {
    padding: 88px 120px;
  }

  .cards-illustrated > ul {
    flex-wrap: nowrap;
  }

  .cards-illustrated > ul > li {
    flex: 0 0 316px;
  }
}
