.cards-pricing {
  padding: 0;
}

.cards-pricing > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.cards-pricing > ul > li {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 32px;
  text-align: center;
  box-shadow: 0 4px 24px rgb(28 34 46 / 8%);
}

.cards-pricing .cards-pricing-card-image {
  margin-bottom: 16px;
}

.cards-pricing .cards-pricing-card-image img {
  width: 24px;
  height: 24px;
}

.cards-pricing .cards-pricing-card-body h3 {
  font-size: var(--heading-font-size-s);
  font-weight: 900;
  color: var(--text-color);
  margin: 0 0 12px;
}

.cards-pricing .cards-pricing-card-body p {
  color: var(--muted-text-color);
  font-size: var(--body-font-size-s);
  margin: 4px 0;
}

.cards-pricing .cards-pricing-card-body .button-container {
  margin-top: 16px;
}

.cards-pricing .cards-pricing-card-body a.button {
  background-color: var(--link-color);
  color: var(--background-color);
  border-radius: 8px;
  padding: 14px 32px;
  font-weight: 700;
  font-size: var(--body-font-size-s);
  display: inline-block;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}

.cards-pricing .cards-pricing-card-body a.button:hover {
  background-color: var(--link-hover-color);
}

@media (width >= 600px) {
  .cards-pricing > ul {
    grid-template-columns: 1fr 1fr;
  }
}
